@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ecf0f1;
}

.control:hover {
  background-color: #2980b9;
}

.control:active {
  background-color: #16a085;
}

.control {
  background-color: #3498db;
  color: white;
  width: 6rem;
  height: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 1.5rem;
  outline: 0;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.Counter {
  margin: 0 2rem;
  font-size: 6rem;
}

.Darkmode {
  border: none;
  background-color: #34495e;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  outline: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.Darkmode:hover {
  background-color: #2c3e50;
  cursor: pointer;
}
